absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
ale-py==0.10.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
atari-py==0.2.9
attrs==25.1.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.3
bitsandbytes==0.45.5
bleach==6.1.0
Brotli==1.0.9
cachetools==4.2.4
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.3.2
clarabel==0.9.0
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cryptography==42.0.8
cvxopt==1.3.2
cvxpy==1.5.2
cycler==0.12.1
Cython==0.29.24
d3rlpy==2.8.1
dataclasses-json==0.6.7
debugpy==1.6.7
decorator==5.2.1
defusedxml==0.7.1
diffusers==0.35.2
distlib==0.4.0
distro==1.9.0
dm_control==1.0.23
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
ecos==2.0.14
et_xmlfile==2.0.0
etils==1.3.0
eval_type_backport==0.2.2
exceptiongroup==1.3.0
executing==2.2.0
faiss-gpu-cu12==1.12.0
Farama-Notifications==0.0.4
fasteners==0.19
fastjsonschema==2.21.1
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.60.2
frozendict==2.4.2
frozenlist==1.5.0
fsspec==2025.10.0
gast==0.3.3
gitdb==4.0.12
GitPython==3.1.44
glfw==2.8.0
gmpy2==2.1.2
google==3.0.0
google-auth==2.40.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.70.0
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.0.0
h5py==3.14.0
hf-xet==1.1.5
huggingface-hub==0.36.0
huggingface-sb3==3.0
hydra-core==1.3.2
identify==2.6.1
idna==3.7
imageio==2.35.1
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.12.3
jax-jumpy==1.0.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonargparse==4.40.0
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kalepy==1.4.3
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
labmaze==1.0.6
lazy_loader==0.4
libclang==18.1.1
lightning==2.3.3
lightning-utilities==0.11.9
llvmlite==0.41.1
lxml==5.3.1
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
mjrl==1.0.0
mpmath==1.3.0
msgpack==1.1.1
mujoco==3.2.3
mujoco-py==2.1.2.14
multidict==6.1.0
mypy_extensions==1.1.0
narwhals==1.42.1
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nodeenv==1.9.1
noisyenv==0.1.1
numba==0.58.1
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
osqp==1.0.4
packaging==26.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.4
patchelf==0.17.2.1
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.3.0
pip==26.0.1
pipreqs==0.5.0
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
plotly==6.5.0
pluggy==1.5.0
pre-commit==3.5.0
prompt_toolkit==3.0.50
propcache==0.2.0
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.4.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybullet==3.2.7
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pygame==2.1.0
Pygments==2.19.1
PyOpenGL==3.1.9
pyOpenSSL==24.2.1
pyparsing==3.3.2
PySocks==1.7.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytorch_revgrad==0.2.0
pytz==2025.2
PyWavelets==1.4.1
PyYAML==6.0.3
pyzmq==24.0.1
ray==2.10.0
redis==5.2.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.0.0
rpds-py==0.20.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.5.3
sb3_contrib==2.4.0
sbx==0.1.1
scikit-image==0.21.0
scikit-learn==1.6.1
scipy==1.13.1
scope-rl==0.2.1
scs==3.2.7.post2
seaborn==0.13.2
sentry-sdk==2.24.1
setproctitle==1.3.5
setuptools==80.9.0
Shimmy==2.0.0
six==1.17.0
smmap==5.0.2
soupsieve==2.6
stable_baselines3==2.4.1
stack-data==0.6.3
statsmodels==0.14.1
structlog==25.5.0
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-probability==0.7.0
termcolor==2.4.0
threadpoolctl==3.6.0
tifffile==2023.7.10
tinycss2==1.2.1
tomli==2.2.1
toolz==0.9.0
torch==2.8.0
torchdiffeq==0.2.5
torchmetrics==1.5.2
tornado==6.2
tqdm==4.67.3
traitlets==5.14.3
triton==3.4.0
typeshed_client==2.7.0
typing_extensions==4.15.0
typing-inspect==0.9.0
tzdata==2025.3
tzlocal==5.2
uritemplate==3.0.0
urllib3==2.2.3
virtualenv==20.34.0
wandb==0.19.8
wasabi==1.1.3
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.6
wheel==0.45.1
wrapt==1.17.2
xmltodict==0.14.2
yarg==0.1.9
yarl==1.15.2
zipp==3.23.0
zstandard==0.23.0
